<% include ../partials/header %>
  
  
<div class="content-wrapper">
			

  <div class="row">
      <div class="col-12">
    
         <h2 contentEditable="true" id="projectTitle"></h2>
         <ul class="list-group" id="taskList">
            <% tasksToProject.forEach(function(task){ %>
            <div class="round">
               
            </div>
           <li class="list-group-item list-item show" data-id="<%= task.id %>"><%= task.title %>
                <span class="round">
                <input type="checkbox" class="checkbox" id="checkbox<%= task.id %>" data-id="<%= task.id %>" />
                <label for="checkbox<%= task.id %>"></label>
                </span>
                <span class="delete-task float-right"><a href="#"><i class="fas fa-times fa-lg"></i></a></span>
                <span class="datepicker"><input type="text" id ="datepicker<%= task.id %>"></input></span>
           </li>
           <% }); %>
         </ul>
      </div>
   </div>
   <div class="input-group task-entry">
      <input type="text" class="form-control task-input" placeholder="Title of new task" aria-label="Title of new task" aria-describedby="button-addon2">
      <div class="input-group-append add-btn">
        <button class="btn btn-outline-secondary" type="button" id="addTask">Add</button>
      </div>
   </div>
</div> <!-- .content-wrapper -->
</main><!-- .cd-main-content -->
<script src="https://unpkg.com/js-datepicker"></script>
<script>
<% tasksToProject.forEach(function(task){ %>
    const picker<%= task.id %> = datepicker(document.querySelector('#datepicker<%= task.id %>'),{
        onSelect: function(instance) {
            // Show which date was selected.
            console.log(instance.dateSelected.toLocaleDateString());
            var id = "<%= task.id %>";
            var date = instance.dateSelected;
            updateTask(id, date);
        },
    });
    if($("#datepicker<%= task.id %>").is(':visible')){
        var date = "<%= task.dueDate %>";
        picker<%= task.id %>.setDate(new Date(date));
    }
    
<% }); %>

$(function(){
   var url = window.location.pathname;
   var projectId = url.substring(url.lastIndexOf('/') + 1);
   $("ul").find("[data-id='" + projectId + "']").addClass("active");
   var project_title = $('.active').text();
   $("#projectTitle").html(project_title);
   $('#projectTitle').attr('contenteditable','true');
});

$(".task-entry").on('keypress',function(e) {
   var task = $('.task-input').val();
   var url = window.location.pathname;
   var projectId = url.substring(url.lastIndexOf('/') + 1);
   if(e.which == 13) {
      addTask(task, projectId);
   }
});

$('button').click(function(e) {
   var task = $('.task-input').val();
   var url = window.location.pathname;
   var projectId = url.substring(url.lastIndexOf('/') + 1);
   addTask(task, projectId);
 });
   
 $('.project-list-item').click(function(e) {
   var projectId = $(this).attr('data-projectId');
   $.ajax({
         method: "GET",
         url: "/projects/" + projectId,
         success: function(result) {
             //location.reload(true);
         }
      });
 });

// archive task on checkbox change
$('.checkbox').change(function() {
    var taskId = $(this).attr("data-id");
    var $closest = $(this).closest('li');
    if ($(this).is(':checked')) {
        $closest.fadeOut("slow").toggleClass("completed");
        } else {
        $closest.fadeIn("slow").toggleClass("completed");
    }
    completeTask(taskId); 
    
});

// delete task on button click
$(".delete-task").on('click', function(e){
    var $closest = $(this).closest('li');
    $closest.fadeOut("slow").toggleClass("completed");
    var id = $(this).parent().attr('data-id');
    deleteTask(id);
});
 
 // make task list sortable and save position of list-item in db
$("ul#taskList").sortable({
    pull: 'clone',
    animation: 150,
     onEnd: function (/**Event*/evt) {
		var itemEl = evt.item;  // dragged HTMLElement
		evt.to;    // target list
		evt.from;  // previous list
		var oldPosition = evt.oldIndex+1;  // element's old index within old parent
		var listPosition = evt.newIndex+1;  // element's new index within new parent
		var title = itemEl.innerHTML;
		var taskId = itemEl.getAttribute("data-id");
		$.ajax({
            method: "POST",
            url: "/tasks/" + taskId + "/?_method=PUT",
            data: {title: title, listPosition: listPosition, oldPosition: oldPosition},
            success: function(result) {
            }
        });
	},
});

</script>

<% include ../partials/footer %>